<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">VENAPP </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"  [class.show]="isNavbarOpen" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/data">Dashboard</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/head">Head of the department</a>
      </li>
    </ul>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js">
  $(document).ready(function() {
  $('.navbar-toggler').on('click', function() {
    $('#navbarNav').toggleClass('show');
  });
});

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js">

  
</script>

